@include foundation-everything;

main {
    background: lightblue;
}

header {
  background-color: lightgreen;
  padding: 0.5rem;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
  border-style: solid;
  border-color: black;
}

.movie-card div {
  height: 100px;
  border: solid, black, 2px;
  border-style: solid;
  border-color: black;
}

* {
  border-style: solid;
}
